.picture1 {
    idth: 300x;
    height: 300px;
    margin: 5px;
}
#text1 {
    padding: 10px;
    border-style: solid;
    border-width:0.5px;
    border-color: grey;
    text-align: justify;
    
}#hfont {
    text-align: center;
    font-size: 25px;
    font-style: bold;
}
#pfont {
    text-align: center;
    font-size: 15px;
}
#box {
    padding-right: 25px;
}